# Windows'ta CRLF/LF karmaşasını önler: repoda her metin dosyası LF olarak saklanır
* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
